
*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;

  
 
}
a {
  text-decoration: none;

  color: black;
  color: white;
}
header{
	width: 100%;
	height: 90px;
	
}
body{
 
  background: -webkit-linear-gradient(to right, #000428, #004e92); 
  background: linear-gradient(to right, #000428, #004e92); 
}
.logo{
  width: 100px;
}


.imagenesCard{
 
 width: 125px;
 height: 135px;
 border-radius: 10px;
 border-style: outset;

}
.imagenesCard:hover{
 
  zoom: 1.8;
 
 }

/* 
redes fixed  */
.redes {
  position:fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  width: 10px;
}

.iconos {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.5s;
  width: 60px;
}
.iconos:hover {
  transform: scale(1.5) rotate(20deg);
  opacity: 0.6;}



