
*{
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;

  
 
}
a {
  text-decoration: none;

  color: black;
  color: white;
}
header{
	width: 100%;
	height: 90px;
	
}
body{
 
  background: -webkit-linear-gradient(to right, #000428, #004e92); 
  background: linear-gradient(to right, #000428, #004e92); 
}
.logo{
  width: 150px;
}

.imagenesCard{
 
 width: 125px;
 height: 135px;
 border-radius: 10px;
 border-style: outset;


}
.imagenesCard:hover{
 
  zoom: 1.8;
 
 }
/* 
.pie-pagina {
  width: 100vw;
  
}
.pie-pagina .contenido1 {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:30px;
  padding: 25px 0px;
  
}
.pie-pagina .contenido1 .cajita img {
  width: 200px;
  height: 180px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .contenido1 .cajita iframe {
  width: 300px;
  height: 250px;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .pie-pagina .contenido1 {
    width: 90vw;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 10px 0px;
  }
} */

/* 
redes fixed  */
.redes {
  position:fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
  width: 10px;
}

.iconos {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.5s;
  width: 60px;
}
.iconos:hover {
  transform: scale(1.5) rotate(20deg);
  opacity: 0.6;}



